html {
  font-family: Merriweather, serif;
}

table {
  border-collapse: collapse;
  border-color: #ccc;
}

th, td {
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
}

.box-size {
  height: 10em;
  width: 10em;
}

.grey {
  color: #666;
  background-color: #f2f2f2;
  border-style: solid;
  border-color: #333;
  border-radius: 8px;
  border-width: 1px;
}

.red {
  color: #991919;
  background-color: #f2bcbc;
  border-style: solid;
  border-color: #b92828;
  border-radius: 8px;
  border-width: 1px;
}

.green {
  color: #51603f;
  background-color: #d1e0bf;
  border-style: solid;
  border-color: #6b7e54;
  border-radius: 8px;
  border-width: 1px;
}

.blue {
  color: #38448e;
  background-color: #d2d6f0;
  border-style: solid;
  border-color: #1d38da;
  border-radius: 8px;
  border-width: 1px;
}
